fastapi>=0.110.0
uvicorn>=0.28.0
pydantic>=2.6.0
python-multipart>=0.0.9
numpy>=1.26.0
pillow>=10.2.0
# Include TensorFlow. We allow flexibility in version to resolve package conflicts in production.
tensorflow>=2.15.0
